<form method="POST" action="/new">
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
    </div>
    <div>
        <label for="text">Text:</label>
        <textarea id="text" name="text" required></textarea>
    </div>
    <button type="submit">Submit</button>

</form>